<div class="container-fluid">
	<div class="row top-head-bar">
		<div class="col-md-3">Hi' Ayush!</div>
		<div class="col-md-6">Here are your items</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row bg-light1">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<ul class="list-unstyled">
				<li class="result-video-shortcuts list-group-item" ng-repeat="product in products">
					<div class="row">
						<a ng-click="getProductDetail()">
							<div class="col-md-4">Image will come here</div>
							<div class="col-md-8">
								<span>{{product.productDescription}}</span><br>
								<span>{{product.productType}}</span><br>
								<span>{{product.brandName}}</span><br>
								<span>{{product.modelName}}</span><br>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
