<div class="container">
	<div class="row" style="padding-top: 40px;">
		<div class="col-md-3 col-lg-3">
			<kbd>Product Description</kbd>
		</div>
		<div class="col-md-8 col-lg-8">
			<textarea rows="4" cols="90" placeholder="Describe here..."
				ng-model="vm.productDescription"></textarea>
		</div>
		<div class="col-md-1 col-lg-1"></div>
	</div>
	<div class="row" style="padding-top: 50px;">
		<div class="col-md-3 col-lg-3">
			<kbd>Upload Photos</kbd>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="image-upload">
				<label for="productImage1"> <img src="http://goo.gl/pB9rpQ" />
				</label>
				<form>
					<input type='file' ng-model='vm.productImage1'
						ng-Change="uploadProductImage1()" base-sixty-four-input>
				</form>
				<br> <img ngf-src="vm.productImage1" class="thumb">
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="image-upload">
				<label for="productImage2"> <img src="http://goo.gl/pB9rpQ" />
				</label>
				<form>
					<input type='file' ng-model='vm.productImage2'
						ng-Change="uploadProductImage2()" base-sixty-four-input>
				</form>
				<br> <img ngf-src="vm.productImage2" class="thumb">
			</div>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="image-upload">
				<label for="productImage3"> <img src="http://goo.gl/pB9rpQ" />
				</label>
				<form>
					<input type='file' ng-model='vm.productImage3'
						ng-Change="uploadProductImage3()" base-sixty-four-input>
				</form>
				<br> <img ngf-src="vm.productImage3" class="thumb">
			</div>
		</div>
	</div>
	<div class="row" style="padding-top: 50px;">
		<div class="col-md-3 col-lg-3">
			<kbd>Upload Product Invoice</kbd>
		</div>
		<div class="col-md-6 col-lg-6" align="center">
			<div class="image-upload">
				<label for="productInvoiceUpload"> <span
					class="label label-primary" font size="10"> Upload Product
						Invoice</span>
				</label>
				<form>
					<input type='file' ng-model='vm.productInvoiceUpload'
						ng-Change="uploadProductInvoice()" base-sixty-four-input>
				</form>
				<br> <img ngf-src="vm.productInvoiceUpload" class="thumb">
			</div>
		</div>
		<div class="col-md-3 col-lg-3"></div>
	</div>
	<div class="row" style="padding-top: 50px;">
		<div class="col-md-5 col-lg-5"></div>
		<div class="col-md-5 col-lg-5">
			<button ng-click="submitProductDetails()"
				class="btn btn-default btn-lg">S.U.B.M.I.T</button>
		</div>
	</div>
	<div class="col-md-2 col-lg-2"></div>
</div>
